*{
    box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: block;
}

[class*="col-"] {
float: left;
padding: 15px;
text-align: center;
background-image: url('imagens/layoutpvieirapeq.jpeg'); 
}

html {
font-family: "Lucida Sans", sans-serif;
text-decoration: none;
}

.header {
color: white;
background-color: #345100;
padding: 15px;
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.menu li {
padding: 8px;
margin-bottom: 7px;
background-color: #B0EB45;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
text-align: center;
}

.menu a {	
color : white;
text-decoration: none;
}

.menu li:hover {
background-color: black;
}

.aside {
background-color: #223204;
padding: 15px;
color: #ffffff;
text-align: center;
font-size: 14px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
background-color: #223204;
color: #ffffff;
text-align: center;
font-size: 12px;
padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
width: 100%;
}


@media only screen and (min-width: 600px) {
/* For tablets: */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.dropbtn {
background-color: #B0EB45;
color: white;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #B0EB45;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: black}
.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #0099cc;
}

.keyframe{
    width: 5px;
    height: 5px;
    position: relative;
    animation: square 8s infinite;
}
@keyframes square {
	0%	 {background-color:#000000; left:12px; top:20px;}
    13%  {background-color:#00b300; left:105px; top:20px;}
    26%  {background-color:#ffffff; left:105px; top:65px;}
    39%  {background-color:#00b300; left:156px; top:65px;}
    52%  {background-color:#ffffff; left:156px; top:20px;}
    66%  {background-color:#00b300; left:265px; top:20px;}
	79%  {background-color:#000000; left:265px; top:65px;}
    92%  {background-color:#000000; left:12px; top:65px;}
    100% {background-color:#000000; left:12px; top:20px;}	
